*{
    padding: 0;
    margin: 0;

}

body{
    background-color: #b013dcdc;
    font-family: Arial, sans-serif;
}

.container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 500px;
    width: 1000px;
    color: white;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    border: 6px solid rgb(255, 255, 255);
    display : grid;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.box{
    border: 8px solid rgb(201, 13, 160);
    height: 100px;
    width: 100px;
    background-color: yellow;
    
    /* margin : 10px; */
}
.box:hover{

    border: 8px solid rgb(201, 13, 160);
    height: 300px;
    width: 200px;
    background-color: yellow;
    border-radius: 30px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 10px rgb(13, 201, 63);
    margin : 10px;
}

/* #c2{
    border: 8px solid rgb(201, 13, 160);
    height: 100px;
    width: 100px;
    background-color: rgb(238, 231, 236);
    
    margin : 10px;
}
#c2:hover{

    border: 8px solid rgb(201, 13, 160);
    height: 300px;
    width: 200px;
    background-color: yellow;
    border-radius: 30px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 10px rgb(13, 201, 63);
    margin : 10px;
} */

