*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(blue,lightblue,cyan,rgb(13, 173, 162));
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:rgba(209,201,201,.7);
}

.nav-links{
    display:flex;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    background-color:black;
    padding:8px 16px;
    border:1px solid black;
    border-radius:100% 7px 100% 7px;
    transition:.3s;
}

.nav-links a:hover{
    background:white;
    color:black;
}

.box{
    
    padding : 30px;
    margin : 40px;
    height : 300px;
    width : 300px;
    background-color: aquamarine;
    animation-name : shubh-naam;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes shubh-naam{
    25%{
        border-radius : 0% 100% 0% 100%;
        background-color: green;
        
    }
    50%{
        border-radius : 100% 0% 100% 0%;transform : scale(1.5);
    }
    75%{
        border-radius : 0% 100% 0% 100%;
        background-color: green;
        
    }
    100%{
        border-radius : 100% 0% 100% 0%;transform : scale(1.5);
    }    
}